pandas
numpy
magentic-one-cli
autogen-agentchat
autogen-ext[openai]
autogen-ext[azure]
ipykernel
python-dotenv
semantic-kernel
autogen-ext[mcp]
sqlalchemy
urllib3
autogen
pyodbc
spider-env
mssql-mcp-server
mcp>=1.0.0
pymssql>=2.2.7
opencv-python
pillow
PyMuPDF
matplotlib
